<div class="container">
    <div style="height: 20px; width: 100%;"></div>
    <!-- DESKTOP VIEW -->
    <div class="row d-none d-lg-block">
        <div class="col-sm-8">
            <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 100%; height: 400px;">
            </div>
        </div>
    </div>
    
    <!-- MOBILE VIEW -->
    <div class="row d-lg-none">
        <div class="col-sm-8">
            <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 100%; height: 400px;">
            </div>
        </div>
    </div>  
</div>