<div style="height: 20px; width: 100%;"></div>


<div class="ui grid mobile or lower hidden">
    <!-- DESKTOP VIEW -->
    <div class="row">
        <div id="container" style="margin: 0 auto;"></div>
    </div>
    
    <div class="row" *ngFor="let stock of mystocks">
      <div class="ui card" style="margin: 0 auto;">
          <div class="content">
            <a class="header" style="text-align: center;">{{ stock.name }}</a>
            <div class="meta" style="text-align: center;">
              <span>${{ stock.symbol }}</span>
            </div>
          </div>
          <div class="extra content">
                <canvas baseChart width="100%" 
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
          </div>
          
          <div class="extra content">
            <a>
              <i class="bars icon"></i>
              {{ stock.shares }} shares
            </a>
            <span style="float: right;">
              <i class="chart line icon"></i>
              {{ stock.shares }}% gains/loss
            </span>
          </div>
        </div>      
    </div>
    

    
</div>

<div class="ui grid mobile only">
    
    <!-- MOBILE VIEW -->
    <div class="twelve wide column">
        <div style="display: block;">
            <canvas baseChart width="100" height="100"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
        </div>
    </div>
</div>
